.plax {
    min-height: 100vh;
    background: transparent;
    }

p {
    font-family: 'IBM Plex Mono', monospace;
    color: #fff; 
    width:60%; 
    margin: auto; 
    padding-top: 80px;
    }
h1 {
    font-family: 'Caveat', cursive;
    font-size: 100px;
    text-align: center;
}
h2 {
    font-family: 'Caveat', cursive;
    font-size: 35px;
    text-align: center;
    margin-top: -100px;
}

body {
    background-color: black;
}

.story {
    font-size: 24px;
}

.narrarator {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    grid-column: 1/3;
    grid-column-end: span 2;
    place-self: center;
}

.johnny {
    text-align: right;
    grid-column-start: 2;
}

.guy {
    text-align: left;
    grid-column-start: 1;
    grid-row: 1 / span 2;
}
.felix{
    text-align: left;
    grid-column-start: 1;
}

.endnote {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}

