/* Enter your Styles below! */

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

body { 
    font-family: 'Spectral', serif;
    font-size: 16px;
    background-color: rgb(53, 49, 43);
     }

h1, h2, h3, h4 {
    font-family: 'Squada One', cursive;
    }

h1 {
    font-size: 70px;
    }

h2 {
    font-size: 36px;
    }

nav {
    font-family: 'Squada One', cursive;
    font-size: 20px; 
}
nav ul {
	display: flex;
	justify-content: flex-end;
    }   
nav li { padding: 10px 10px; }

.container {
    background: #fff, 60%; 
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    margin: 2em auto 0;
    padding: 1.5em;
  }
  
  p { margin-bottom: 1.5em; }
  p:last-child { margin-bottom: 0; }
 

footer {
    font-family: 'Spectral', serif;
    font-style: italic;
    text-align: center;
    }

header {margin-bottom: 20px;}

img { width: 100%; }

a { 
    color: rgb(40, 160, 3);
    text-decoration: none;
     }
a:hover { color: rgb(255, 255, 255); }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 60%;
    margin: auto;
    }

.grid div {
    padding: 20px;
    }

@media only screen and (min-width:768px) {

    }

@media only screen and (min-width:1224px) {

    }