/* Enter your Styles below! */

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

body { 
    font-family: 'BenchNine', sans-serif;
    font-size: 16px;
    color: rgb(82, 72, 72); 
    background-image: url('../images/fzm-seamless-notebook.texture-14.png');
    background-repeat: repeat-y;
    background-size: cover;
     }

main {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 30px;
}
header {
    padding: 30px;
     }

h1, h2, h3, h4 {
    font-family: 'Langar', cursive;
    }

h1 {
    font-size: 75px;
    color: black;
    grid-column-end: span 3;
    }

h2 {
    font-size: 36px;
    margin-top: 30pts;
    }

p {
   line-height: normal; 
}

img {
    width: 100%;
}

nav {
    font-size: 20px; 
    font-family: 'BenchNine', sans-serif;
}
nav ol {
    margin: 0;
    padding: 0; 
    }   
nav li { 
    padding: 10px;
    display: inline;
    float: right;
    }
 li a {
     display: block;
     text-align: center;
 }
 .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-column-gap: 10px;
    list-style-type: none;
}
.projects li{
    display: grid;
    padding: 20px;
    grid-row-start: 2;
    justify-items: center;
    align-items: center;
}
 .assignments {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(10,10%);
     grid-column-gap: 10px;
     list-style-type: none;
     justify-content: center;
     align-content: center;
 }
 .assignments li{
     padding: 20px;

 }

footer {
    font-family: 'BenchNine', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 15px; 
    padding: 30px;
    }

img { 
    width: 100%;
    padding: 15px;
    }

a { 
    text-decoration: none;
    color:black;
    }

a:hover { 
    color: rgb(255, 255, 255);
    }



@media only screen and (min-width:768px) {

    }

@media only screen and (min-width:1224px) {

    }

@media only screen and (max-width:768px) {
    .projects {
        flex-direction: column;
}
    .assignments {
            flex-direction: column;
    }
    main {
        grid-template-columns: 100%;
    }
    h1 {
        font-size: 50px;
    }
}