/* Enter your Styles below! */

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

body { 
    font-family: 'Spectral', serif;
    font-size: 16px;
    background-color: rgb(53, 49, 43);
     }

h1, h2, h3, h4 {
    font-family: 'Squada One', cursive;
    }

h1 {
    font-size: 75px;
    }

h2 {
    font-size: 36px;
    }

p {
   line-height: normal; 
}

nav {
    font-size: 20px; 
    font-family: 'Squada One', cursive;
}
nav ul {
    justify-content: right;
    }   
nav li { padding: 10px 10px; }
 

footer {
    font-family: 'Spectral', serif;
    font-style: italic;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 15px; 
    padding: 30px;
    }

header {
   padding: 30px;
    }

img { 
    width: 100%;
    padding: 15px;
    }

a { 
    color: rgb(40, 160, 3);
    text-decoration: none;
     }
a:hover { color: rgb(255, 255, 255); }

div#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: auto;
    }

.grid div {
    padding: 20px;
    }

#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width:768px) {

    }

@media only screen and (min-width:1224px) {

    }